<div class="heading">
  <div class="backbutton">
    <button class="back" (click)="backactivities()" clickable>
      <span class="icon"><i class="fa-regular fa-circle-xmark"></i></span>
    </button>
  </div>
  <div class="companyName">
    <p class="companyNameText">company name</p>
  </div>
  <div class="savebutton">
    <button class="save" (click)="saveactivitytoitinerary()" clickable>
      <span class="icon2"><i class="fa-solid fa-heart"></i></span>
    </button>
    <p class="saveText">add to event</p>
  </div>
</div>

<div>
  <div class="aboutSection">
    <p class="boxTitles">About</p>
  </div>
  <div class="imagesSection">
    <p>imAges</p>
  </div>
</div>
<div>
  <div class="ratingSection">
    <p>rating</p>
  </div>

  <div class="profileSection">
    <p class="boxTitles">Profile</p>
  </div>
  <div class="contactDetailsSection">
    <p class="boxTitles">Contact Details</p>
  </div>
</div>

<div>
  <div class="nextCompanyButton">
    <button class="save" (click)="nextCompany()" clickable>
      <span class="icon2"><i class="fa-regular fa-circle-right"></i></span>
    </button>
    <p class="saveText">next company</p>
  </div>
</div>
