<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="decorations.component.scss" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <!--head end-->

  <body class="white-background">
    <div>
      <h1 class="decor-title">DECORATIONS</h1>
    </div>

    <div class="page-container">
      <div class="search-container">
        <form class="search-bar" action="/search" method="GET">
          <input type="text" id="search" name="q" placeholder="Search for decorations..." />
          <button class="search-button" type="submit">
            <img src="content/images/decorationsimages/magnifyingglass.png" alt="magnifying glass" />
          </button>
        </form>
        <!--search bar end-->
      </div>
      <!--search container end-->
      <div>
        <h2 class="book-title">Book with a company</h2>
      </div>
      <!--book title end-->
      <div>
        <h5 class="book-sub">These companies offer services that you may like for your event!</h5>
      </div>
      <!-- book sub end-->
      <div class="companies">
        <div class="previous-button">
          <span><img src="content/images/decorationsimages/previousbutton.png" /></span>
        </div>
        <!--previous button end-->
        <div class="company-slider">
          <div>
            <div class="pink-box">
              <img src="content/images/decorationsimages/elite.png" alt="elite embellishments" />
              <p class="comp-name">Elite Embellishments</p>
            </div>
            <div class="pink-box">
              <img src="content/images/decorationsimages/oasis.png" alt="oasis creations" />
              <p class="comp-name">Oasis Creations</p>
            </div>
            <div class="pink-box">
              <img src="content/images/decorationsimages/elegant.png" alt="elegant arts" />
              <p class="comp-name">Elegant Arts</p>
            </div>
            <div class="pink-box">
              <img src="content/images/decorationsimages/soiree.png" alt="soiree celebrations" />
              <p class="comp-name">Soiree Celebrations</p>
            </div>
            <div class="pink-box">
              <img src="content/images/decorationsimages/instyle.png" alt="instyle" />
              <p class="comp-name">InStyle</p>
            </div>
            <div class="pink-box">
              <img src="content/images/decorationsimages/decorde.png" alt="decordè de mode" />
              <p class="comp-name">Decordè de Mode</p>
            </div>
          </div>
          <!--div end- makes it look like a grid instead of in line-->
          <div>
            <div class="pink-box">
              <img src="content/images/decorationsimages/divinedecor.png" alt="divine decor" />
              <p class="comp-name">Divine Decor</p>
            </div>
            <div class="pink-box">
              <img src="content/images/decorationsimages/fortheoccasion.png" alt="fortheoccasion" />
              <p class="comp-name">ForTheOccasion</p>
            </div>
            <div class="pink-box">
              <img src="content/images/decorationsimages/Image8.png" alt="aritz" />
              <p class="comp-name">Aritz</p>
            </div>
            <div class="pink-box">
              <img src="content/images/decorationsimages/celebra.png" alt="celebra" />
              <p class="comp-name">Celebra</p>
            </div>
            <div class="pink-box">
              <img src="content/images/decorationsimages/carizma.png" alt="carizma" />
              <p class="comp-name">Carizma</p>
            </div>
            <div class="pink-box">
              <img src="content/images/decorationsimages/enigma.png" alt="enigma" />
              <p class="comp-name">Enigma</p>
            </div>
          </div>
          <!--div end- makes it look like a grid instead of in line-->
        </div>
        <!--company slider end-->
        <div class="next-button">
          <span><img src="content/images/decorationsimages/nextbutton.png" /></span>
        </div>
      </div>
      <!--companies end-->
      <!--now moving onto the themes section-->
      <div>
        <h2 class="book-title">Pick a theme!</h2>
      </div>
      <!--book title end-->
      <div>
        <h5 class="book-sub">Here are some themes you may like or create your own!</h5>
      </div>
      <!-- book sub end-->
      <div class="themes">
        <div class="previous-button">
          <span><img src="content/images/decorationsimages/previousbutton.png" /></span>
        </div>
        <!--previous button end-->
        <div class="company-slider">
          <div>
            <div class="pink-box">
              <img src="content/images/decorationsimages/birthday2.png" alt="birthday" />
              <p class="comp-name">Birthday</p>
            </div>
            <div class="pink-box">
              <img src="content/images/decorationsimages/Slaley-Hall-Wedding-Venue-Decor.png" alt="christmas" />
              <p class="comp-name">Christmas</p>
            </div>
            <div class="pink-box">
              <img src="content/images/decorationsimages/leaving-do.png" alt="leaving do" />
              <p class="comp-name">Leaving Do</p>
            </div>
            <div class="pink-box">
              <img src="content/images/decorationsimages/leaves.png" alt="new years" />
              <p class="comp-name">New Years</p>
            </div>
            <div class="pink-box">
              <img src="content/images/decorationsimages/Corporate-event-decor1.png" alt="team building" />
              <p class="comp-name">Team Building</p>
            </div>
            <div class="pink-box">
              <img src="content/images/decorationsimages/decorurown.png" alt="create your own" />
              <p class="comp-name">Create Your Own</p>
            </div>
          </div>
          <!--div end- makes it look like a grid instead of in line-->
        </div>
        <!--company slider end-->
        <div class="next-button">
          <span><img src="content/images/decorationsimages/nextbutton.png" /></span>
        </div>
      </div>
      <!--themes end-->
    </div>
    <!--page container end-->
  </body>
  <!--body end-->
</html>
<!--html end-->
<!---->
