<div>
  <h2 id="page-heading" data-cy="ItineraryVenueHeading">
    <span>Itinerary Venues</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-itinerary-venue"
        [routerLink]="['/itinerary-venue/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Itinerary Venue </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="itineraryVenues?.length === 0">
    <span>No Itinerary Venues found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="itineraryVenues && itineraryVenues.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="venueName">
            <div class="d-flex">
              <span>Venue Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="venueCost">
            <div class="d-flex">
              <span>Venue Cost</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="venueHost">
            <div class="d-flex">
              <span>Venue Host</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="venueAddress">
            <div class="d-flex">
              <span>Venue Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let itineraryVenue of itineraryVenues; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/itinerary-venue', itineraryVenue.id, 'view']">{{ itineraryVenue.id }}</a>
          </td>
          <td>{{ itineraryVenue.venueName }}</td>
          <td>{{ itineraryVenue.venueCost }}</td>
          <td>{{ itineraryVenue.venueHost }}</td>
          <td>{{ itineraryVenue.venueAddress }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/itinerary-venue', itineraryVenue.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/itinerary-venue', itineraryVenue.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(itineraryVenue)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
