body {
  background-color: #172c49 !important;
}

.container {
  display: flex;
  height: 100%;
}

.notificationBoard {
  position: relative;
  width: 30%;
}

.bar {
  background-color: #172c49;
  display: flex;
  height: 10vmin;
}

.goBack {
  font-size: 3vmax;
  font-weight: bold;
  align-content: center;
  left: 1vmin;
  color: white;
  transition-duration: 0.3s;
  align-self: center;
}

.goBack:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.title {
  margin: auto;
  text-align: center;
  font-size: 3.5vmin;
  font-weight: bold;
  align-content: center;
  color: white;
}

svg {
  height: 4vmin;
  width: 4vmin;
  fill: white;
  transition-duration: 0.3s;
}

.select {
  margin-top: 2vmin;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.select .replies:hover svg,
.select .bookings:hover svg,
.showPrivateButton:hover svg {
  cursor: pointer;
  transform: scale(1.1);
  fill: #f0afc0;
}

.select .replies:hover .selectText,
.select .bookings:hover .selectText,
.showPrivateButton:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: #f0afc0;
}

.selected svg {
  fill: #f0afc0;
}

.selected .selectText {
  color: #f0afc0;
}

.replies,
.bookings {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: 0.3s;
  font-size: 2vmin;
}

.select .replies,
.select .bookings {
  position: relative;
  width: 5vmin;
}

.redDot {
  background-color: #ff6d6d;
  border-radius: 100%;
  width: 1vmin;
  height: 1vmin;
  position: absolute;
  top: -1vmin;
  right: -1vmin;
}

.showPrivateNone {
  display: none;
}

.selectText {
  display: flex;
  color: white;
  margin-top: 1vmin;
  margin-bottom: 3vmin;
  transition-duration: 0.3s;
}

.showPrivateButton {
  position: relative;
  color: white;
}

.notification {
  margin-top: 3%;
  overflow-y: scroll;
  max-height: 50vh;
}

::-webkit-scrollbar {
  display: none;
}

.list {
  align-content: center;
  background-color: #f589a6;
  height: 8vmin;
  border-radius: 3vmin;
  margin-bottom: 3vmin;
  transition-duration: 0.3s;
}

.list:hover {
  cursor: pointer;
  margin-bottom: 5vmin;
  transform: translateY(1vmin);
}

.list:hover .senderName {
  transform: scale(1.05) translateX(1vmin);
}

.info {
  display: flex;
  justify-content: space-between;
  padding-left: 2vmin;
  padding-right: 2vmin;
  color: #ffffff;
  height: 8vmin;
}

.senderName {
  margin: auto 0;
  font-size: 2vmin;
  transition-duration: 0.2s;
}

.receivedDate {
  text-align: center;
  font-size: 1.5vmin;
  align-self: center;
}

.unread {
  color: #cef362;
  font-weight: bold;
}

.chat-area {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.chat-messages {
  height: 70vh;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
}

.chat-messages {
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 10px;
}

.content {
  background-color: #f7afc2;
  padding: 10px;
  border-radius: 10px;
  width: 40vmin;
}

.received-time {
  color: #ffffff;
  font-size: 12px;
}

.input-box {
  display: flex;
  align-items: center;
}

input[type='text'] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
