.heading {
  position: relative;
}

.companyName {
  width: 75%;
  text-align: center;
  margin: 1em;
  display: inline-block;
  justify-content: center;
}

.companyNameText {
  font-size: 78px;
  text-shadow: 4px 4px #ffc212;
  color: #172c49;
  font-weight: 800;
}

.ideas {
  font-size: 40px;
  text-shadow: 2px 2px #ffc212;
  color: #172c49;
  font-weight: 500;
}

.icon {
  color: #f9b0c3;
  font-size: 70px;
}
.icon2 {
  color: #f9b0c3;
  font-size: 50px;
}

.back {
  background-color: #ffffff;
  border: none;
  outline: none !important;
}

.saveText {
  color: #f9b0c3;
  font-size: 20px;
}

.save {
  border: none;
  background-color: #ffffff;
  outline: none !important;
}

.savebutton {
  height: 80px;
  width: 10%;
  background-color: #ffffff;
  border: none;
  outline: none !important;
  display: inline-block;
  text-align: center;
}

.bodybit {
  position: relative;
}

.imagesSection {
  height: 750px;
  width: 48%;
  background-color: #e0dffd;
  float: left;
  margin: 1em;
  border-radius: 16px;
}

.secondbodybit {
  width: 45%;
  float: right;
  position: relative;
  margin: 1em;
}

.AboutSection {
  height: 600px;
  width: 97%;
  background-color: #e0dffd;
  display: relative;
  border-radius: 16px;
  text-align: center;
}

.seperator {
  height: 50px;
}

.ratingSection {
  height: 100px;
  width: 97%;
  background-color: #e0dffd;
  display: relative;
  border-radius: 16px;
}

.leftside {
  position: relative;
  float: left;
  width: 50%;
  margin: 0.25em;
}

.image1 {
  width: 97%;
  height: 325px;
  margin: 0.5em;
  background-color: #172c49;
}

.image2 {
  width: 97%;
  height: 225px;
  margin: 0.5em;
  background-color: #172c49;
}

.image3 {
  width: 97%;
  height: 160px;
  margin: 0.5em;
  background-color: #172c49;
}

.rightside {
  position: relative;
  float: right;
  width: 45%;
  margin: 0.5em;
}

.image4 {
  width: 97%;
  height: 130px;
  margin: 0.5em;
  background-color: #172c49;
}

.image5 {
  width: 97%;
  height: 140px;
  margin: 0.5em;
  background-color: #172c49;
}

.image6 {
  width: 97%;
  height: 140px;
  margin: 0.5em;
  background-color: #172c49;
}

.image7 {
  width: 97%;
  height: 140px;
  margin: 0.5em;
  background-color: #172c49;
}

.image8 {
  width: 97%;
  height: 140px;
  margin: 0.5em;
  background-color: #172c49;
}

.ideatext {
  font-size: 16px;
}
