<div class="heading">
  <div class="savebutton">
    <button class="back" (click)="backactivities()" clickable>
      <span class="icon"><i class="fa-regular fa-circle-xmark"></i></span>
    </button>
  </div>

  <div class="companyName">
    <p class="companyNameText">Idea Name</p>
  </div>

  <div class="savebutton">
    <button class="save" (click)="saveactivitytoitinerary()" clickable>
      <span class="icon2"><i class="fa-solid fa-heart"></i></span>
    </button>
    <p class="saveText">add to event</p>
  </div>
</div>

<div class="bodybit">
  <div class="imagesSection">
    <div class="leftside">
      <div class="image1"></div>
      <div class="image2"></div>
      <div class="image3"></div>
    </div>
    <div class="rightside">
      <div class="image4"></div>
      <div class="image5"></div>
      <div class="image6"></div>
      <div class="image7"></div>
      <div class="image8"></div>
    </div>
  </div>

  <div class="secondbodybit">
    <div class="AboutSection">
      <p class="ideas">Ideas</p>
      <p class="ideatext">this is where the ideas will be from the database</p>
    </div>
    <div class="seperator"></div>

    <div class="ratingSection"></div>
  </div>
</div>
