<div>
  <h2 id="page-heading" data-cy="RatingHeading">
    <span>Ratings</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-rating"
        [routerLink]="['/rating/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Rating </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ratings?.length === 0">
    <span>No Ratings found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="ratings && ratings.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="value">
            <div class="d-flex">
              <span>Value</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="caterers.id">
            <div class="d-flex">
              <span>Caterers</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="activityCompany.id">
            <div class="d-flex">
              <span>Activity Company</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bookedActivity.id">
            <div class="d-flex">
              <span>Booked Activity</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="activitySelf.id">
            <div class="d-flex">
              <span>Activity Self</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rating of ratings; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/rating', rating.id, 'view']">{{ rating.id }}</a>
          </td>
          <td>{{ rating.value }}</td>
          <td>
            <div *ngIf="rating.caterers">
              <a [routerLink]="['/caterers', rating.caterers.id, 'view']">{{ rating.caterers.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="rating.activityCompany">
              <a [routerLink]="['/activity-company', rating.activityCompany.id, 'view']">{{ rating.activityCompany.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="rating.bookedActivity">
              <a [routerLink]="['/booked-activity', rating.bookedActivity.id, 'view']">{{ rating.bookedActivity.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="rating.activitySelf">
              <a [routerLink]="['/activity-self', rating.activitySelf.id, 'view']">{{ rating.activitySelf.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/rating', rating.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/rating', rating.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(rating)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
