<head>
  <script src="https://kit.fontawesome.com/3543c81e40.js" crossorigin="anonymous"></script>
</head>

<div class="header">
  <h1>Event Itinerary</h1>
  <span>Begin planning your perfect event here!</span>
</div>

<div class="WhiteBackground">
  <div class="miniHeader">
    <h4><i class="fa-solid fa-people-group custom-icon"></i> Number of Guests</h4>
    <p>Select how many guests you are inviting to this event</p>
  </div>
  <div class="pinkBox">
    <div class="buttonsContainer">
      <button id="guestBtn1" (click)="toggleClicked(0); toggleGuestsButton(0)" [class.clicked]="buttonStates[0]" class="guestsButton">
        2-5
      </button>
      <button id="guestBtn2" (click)="toggleClicked(1); toggleGuestsButton(1)" [class.clicked]="buttonStates[1]" class="guestsButton">
        6-9
      </button>
      <button id="guestBtn3" (click)="toggleClicked(2); toggleGuestsButton(2)" [class.clicked]="buttonStates[2]" class="guestsButton">
        10+
      </button>
    </div>
    <div class="inputContainer" *ngIf="showInputBox">
      <div class="search">
        <input type="text" class="searchTerm" placeholder="How Many Guests?" />
        <button type="submit" class="searchButton">
          <i class="fa-solid fa-share fa-rotate-180"></i>
        </button>
      </div>
    </div>
    <div class="submitButton">
      <button class="submit" aria-label="Submit" title="Save Changes"><i class="fa-solid fa-circle-check"></i></button>
    </div>
  </div>

  <div class="miniHeader">
    <h4><i class="fa-regular fa-calendar-check custom-icon"></i> Date and Time</h4>
    <p>Pick a date and a time for your event to start</p>
  </div>
  <div class="pinkBox">
    <div class="dateTimeWrapper">
      <div class="calendarBox">
        <div class="calendarButtons">
          <button class="navCalendar" (click)="prevMonth()"><i class="fas fa-chevron-left"></i></button>
          <div class="monthTitle">{{ currentMonthName }} {{ currentDate.getFullYear() }}</div>
          <button class="navCalendar" (click)="nextMonth()"><i class="fas fa-chevron-right"></i></button>
        </div>
        <div id="calendar">
          <div class="day-wrapper" *ngFor="let day of daysInMonth">
            <div
              *ngIf="day !== null"
              class="day"
              #dayElement
              (click)="selectDate(day, dayElement)"
              (mouseenter)="highlightDay(dayElement)"
              (mouseleave)="removeHighlight(dayElement)"
            >
              {{ day }}
            </div>
          </div>
        </div>
        <input type="text" id="selectedDate" style="margin-top: 30px; width: 90%" readonly />
      </div>
      <div class="timeBox">
        <div class="TimeTitle">Start Time</div>
        <div id="startTimeSelect">
          <select [(ngModel)]="startselectedHour">
            <option *ngFor="let hour of hourOptions" [value]="hour">{{ hour }}</option>
          </select>
          <span>:</span>
          <select [(ngModel)]="startselectedMinute">
            <option *ngFor="let minute of minuteOptions" [value]="minute">{{ minute }}</option>
          </select>
        </div>
        <div class="TimeTitle">End Time</div>
        <div id="startTimeSelect">
          <select [(ngModel)]="endselectedHour">
            <option *ngFor="let hour of hourOptions" [value]="hour">{{ hour }}</option>
          </select>
          <span>:</span>
          <select [(ngModel)]="endselectedMinute">
            <option *ngFor="let minute of minuteOptions" [value]="minute">{{ minute }}</option>
          </select>
        </div>
        <input
          type="text"
          id="selectedTime"
          style="width: 90%; align-items: center; justify-content: center; display: flex"
          readonly
          [value]="startselectedHour + ':' + startselectedMinute + ' - ' + endselectedHour + ':' + endselectedMinute"
        />
      </div>
    </div>
    <div class="submitButton">
      <button class="submit" onclick="submitDateTime()" aria-label="Submit" title="Save Changes">
        <i class="fa-solid fa-circle-check"></i>
      </button>
    </div>
  </div>

  <div class="miniHeader">
    <h4><i class="fa-solid fa-location-dot custom-icon"></i> Location</h4>
    <p>Find a location or book a venue!</p>
  </div>
  <div class="pinkBox">
    <div class="search">
      <input type="text" class="searchTerm" placeholder="Your Location Here" />
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
      </button>
    </div>
    <p style="text-align: center; padding: 10px; font-size: 24px; color: white">OR</p>
    <div class="pickVenue">
      <button class="venueButton" (click)="toVenues()" style="background: white; border: none; border-radius: 15px; padding: 10px">
        Choose a Venue
      </button>
    </div>
  </div>

  <div class="miniHeader">
    <h4><i class="fa-solid fa-user-plus custom-icon"></i> Vendors</h4>
    <p>Hire caterers and decorators, and book activities here!</p>
  </div>
  <div class="pinkBox">
    <div class="vendorsBox">
      <!-- activities -->
      <div class="optionBox">
        <h5 style="background-color: #e0dffd; box-shadow: 4px 4px #ffc212; border: none; border-radius: 15px; padding: 10px">Activities</h5>
        <div class="addOptionButtons">
          <button class="add" (click)="toActivities()"><i class="fa-solid fa-square-plus"></i></button>
        </div>
      </div>

      <!-- caterers -->
      <div class="optionBox">
        <h5 style="background-color: #e0dffd; box-shadow: 4px 4px #ffc212; border: none; border-radius: 15px; padding: 10px">Caterers</h5>
        <div class="addOptionButtons">
          <button class="add" (click)="toCaterers()"><i class="fa-solid fa-square-plus"></i></button>
        </div>
      </div>

      <!-- decorators -->
      <div class="optionBox">
        <h5 style="background-color: #e0dffd; box-shadow: 4px 4px #ffc212; border: none; border-radius: 15px; padding: 10px">Decorators</h5>
        <div class="addOptionButtons">
          <button class="add" (click)="toDecorators()"><i class="fa-solid fa-square-plus"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
