<div>
  <h2 id="page-heading" data-cy="FeedbacksHeading">
    <span>Feedbacks</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-feedbacks"
        [routerLink]="['/feedbacks/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Feedbacks </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="feedbacks?.length === 0">
    <span>No Feedbacks found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="feedbacks && feedbacks.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="date">
            <div class="d-flex">
              <span>Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userName">
            <div class="d-flex">
              <span>User Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rating.id">
            <div class="d-flex">
              <span>Rating</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="supplier.id">
            <div class="d-flex">
              <span>Supplier</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let feedbacks of feedbacks; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/feedbacks', feedbacks.id, 'view']">{{ feedbacks.id }}</a>
          </td>
          <td>{{ feedbacks.date | formatMediumDatetime }}</td>
          <td>{{ feedbacks.userName }}</td>
          <td>
            <div *ngIf="feedbacks.rating">
              <a [routerLink]="['/rating', feedbacks.rating.id, 'view']">{{ feedbacks.rating.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="feedbacks.supplier">
              <a [routerLink]="['/supplier', feedbacks.supplier.id, 'view']">{{ feedbacks.supplier.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/feedbacks', feedbacks.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/feedbacks', feedbacks.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(feedbacks)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
