<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="activitySaved">
      <h2 data-cy="activitySavedDetailsHeading"><span>Activity Saved</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ activitySaved.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ activitySaved.name }}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
          <span>{{ activitySaved.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Company</span></dt>
        <dd>
          <span>{{ activitySaved.company }}</span>
        </dd>
        <dt><span>Event Itinerary</span></dt>
        <dd>
          <div *ngIf="activitySaved.eventItinerary">
            <a [routerLink]="['/event-itinerary', activitySaved.eventItinerary.id, 'view']">{{ activitySaved.eventItinerary.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/activity-saved', activitySaved.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
