<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="mockCatererEntity">
      <h2 data-cy="mockCatererEntityDetailsHeading"><span>Mock Caterer Entity</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ mockCatererEntity.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ mockCatererEntity.name }}</span>
        </dd>
        <dt><span>Cuisine</span></dt>
        <dd>
          <span>{{ mockCatererEntity.cuisine }}</span>
        </dd>
        <dt><span>Rating</span></dt>
        <dd>
          <span>{{ mockCatererEntity.rating }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ mockCatererEntity.description }}</span>
        </dd>
        <dt><span>Quantity</span></dt>
        <dd>
          <span>{{ mockCatererEntity.quantity }}</span>
        </dd>
        <dt><span>Contact</span></dt>
        <dd>
          <span>{{ mockCatererEntity.contact }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/mock-caterer-entity', mockCatererEntity.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
