<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="itineraryDateTime">
      <h2 data-cy="itineraryDateTimeDetailsHeading"><span>Itinerary Date Time</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ itineraryDateTime.id }}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
          <span>{{ itineraryDateTime.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Start Time</span></dt>
        <dd>
          <span>{{ itineraryDateTime.startTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span>End Time</span></dt>
        <dd>
          <span>{{ itineraryDateTime.endTime | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/itinerary-date-time', itineraryDateTime.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
