<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="itineraryCaterer">
      <h2 data-cy="itineraryCatererDetailsHeading"><span>Itinerary Caterer</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ itineraryCaterer.id }}</span>
        </dd>
        <dt><span>Caterer Name</span></dt>
        <dd>
          <span>{{ itineraryCaterer.catererName }}</span>
        </dd>
        <dt><span>Caterer Cost</span></dt>
        <dd>
          <span>{{ itineraryCaterer.catererCost }}</span>
        </dd>
        <dt><span>Caterer Host</span></dt>
        <dd>
          <span>{{ itineraryCaterer.catererHost }}</span>
        </dd>
        <dt><span>Caterer Time</span></dt>
        <dd>
          <span>{{ itineraryCaterer.catererTime | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/itinerary-caterer', itineraryCaterer.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
