<div>
  <h2 id="page-heading" data-cy="ActivityCompanyHeading">
    <span>Activity Companies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-activity-company"
        [routerLink]="['/activity-company/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Activity Company </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="activityCompanies?.length === 0">
    <span>No Activity Companies found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="activityCompanies && activityCompanies.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span>Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="about">
            <div class="d-flex">
              <span>About</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="supplier.id">
            <div class="d-flex">
              <span>Supplier</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bookedActivity.id">
            <div class="d-flex">
              <span>Booked Activity</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let activityCompany of activityCompanies; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/activity-company', activityCompany.id, 'view']">{{ activityCompany.id }}</a>
          </td>
          <td>{{ activityCompany.name }}</td>
          <td>{{ activityCompany.about }}</td>
          <td>
            <div *ngIf="activityCompany.supplier">
              <a [routerLink]="['/supplier', activityCompany.supplier.id, 'view']">{{ activityCompany.supplier.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="activityCompany.bookedActivity">
              <a [routerLink]="['/booked-activity', activityCompany.bookedActivity.id, 'view']">{{ activityCompany.bookedActivity.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/activity-company', activityCompany.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/activity-company', activityCompany.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(activityCompany)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
