<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-business-information-heading" data-cy="BusinessInformationCreateUpdateHeading">Create or edit a Business Information</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_information">Information</label>
          <input
            type="text"
            class="form-control"
            name="information"
            id="field_information"
            data-cy="information"
            formControlName="information"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_businessHours">Business Hours</label>
          <input
            type="text"
            class="form-control"
            name="businessHours"
            id="field_businessHours"
            data-cy="businessHours"
            formControlName="businessHours"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_specialServicesAvailable">Special Services Available</label>
          <input
            type="text"
            class="form-control"
            name="specialServicesAvailable"
            id="field_specialServicesAvailable"
            data-cy="specialServicesAvailable"
            formControlName="specialServicesAvailable"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_supplier">Supplier</label>
          <select
            class="form-control"
            id="field_supplier"
            data-cy="supplier"
            name="supplier"
            formControlName="supplier"
            [compareWith]="compareSupplier"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="supplierOption" *ngFor="let supplierOption of suppliersSharedCollection">{{ supplierOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
