<body>
  <div class="container">

    <div class="goBack" (click)="goBack()">
      <span> < </span>
    </div>
    <div class="title">
      <span class="titleText">Venue</span>
      <div class="decoBar"></div>
    </div>

    <div class="subContainer">

      <div class="bar">
        <div class="icon-container2"><i class="fa-solid fa-sack-dollar icon"></i></div>
        <div class="bar2">
          <div>
            <span class="boxText2"> Price: From</span><input type="text" class="inputStyle2" /> <span class="boxText2">to</span
            ><input type="text" class="inputStyle2" />
          </div>
        </div>
      </div>

      <div class="bar">
        <div class="icon-container2"><i class="fa-solid fa-person-shelter icon2"></i></div>
        <div class="bar2">
         <div>
          <span class="boxText2">Number of rooms:</span><input type="text" class="inputStyle2" />
         </div>
       </div>
      </div>

      <div class = "bar">
          <div class="icon-container2"><i class="fa-solid fa-calendar-days time"></i></div>
        <div class="bar2">
          <div>
            <span class="boxText2">Time: From</span><input type="text" class="inputStyle2" /> <span class="boxText2">to</span
            ><input type="text" class="inputStyle2" />
          </div>
        </div>
      </div>

    </div>

      <div class="searchButton" (click)="searchResult()">
        <span class="search">Search</span>
      </div>

  </div>
</body>
