body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  margin: 0;
  //background-color: #1a2a33; /* 用你的背景色代替这个颜色 */
}

.container {
  text-align: center;
  height: 80vmin;
  align-content: center;
}

.title {
  color: white;
  font-size: 6vmin;
}

.decoBar {
  background-color: #f9b0c3;
  height: 1vmin;
  border-radius: 10vmin;
}
.bar {
  width: 80vmin;
  background-color: #f9b0c3;
  height: 13vmin;
  margin: 10vmin 50vmin auto;
  align-items: center;
  border-radius: 10vmin;
  // align-content: center;
}

.boxText {
  align-content: center;
  font-size: 4vmin;

  //align-items: center;
}

.searchButton {
  background-color: grey;
  border-radius: 100%;
  width: 20vmin;
  height: 20vmin;
  margin: -10vmin 0 0 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  font-size: 30px;
  color: #ffffff;
}

.searchButton:hover {
  transform: scale(1.05);
  background-color: palegoldenrod;
  cursor: pointer;
  transition: all 0.5s ease;
}

.searchButton:active {
  transform: scale(0.95);
  background-color: yellowgreen;
  transition: all 0.5s ease;
}

.inputStyle2 {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: white;
  text-align: center;
  font-size: 4vmin;
  margin: 0 2vmin;
  width: 10%;
}

.inputStyle2:focus {
  outline: none;
  border-bottom: 1px solid #f9b0c3;
}

.icon-container {
  //height: 13vmin;
  //width: 80vmin;
  //position: absolute;
  //top: 285px;
  //left: 420px;
  //display: flex;
  //align-items: center;
  //justify-content: flex-start;
  //padding-left: 2vmin;
  align-items: center;
}

.icon {
  font-size: 13vmin;
  color: #f9b0c3;
}

.icon-container2 {
  height: 13vmin;
  width: 80vmin;
  position: absolute;
  top: 510px;
  left: 420px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2vmin;
}

.icon2,
.time {
  font-size: 13vmin;
  color: #f9b0c3;
}

.icon-container3 {
  height: 13vmin;
  width: 80vmin;
  position: absolute;
  top: 730px;
  left: 420px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2vmin;
}

.goBack {
  font-size: 4vmax;
  font-weight: bold;
  align-content: center;
  left: 8vmin;
  position: absolute;
  color: white;
  height: 10vh;
  transition-duration: 0.3s;
}

.goBack:hover {
  transform: scale(1.2);
  color: palegoldenrod;
  cursor: pointer;
  transition: all 0.5s ease;
}
