<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="itineraryActivity">
      <h2 data-cy="itineraryActivityDetailsHeading"><span>Itinerary Activity</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ itineraryActivity.id }}</span>
        </dd>
        <dt><span>Activity Name</span></dt>
        <dd>
          <span>{{ itineraryActivity.activityName }}</span>
        </dd>
        <dt><span>Activity Cost</span></dt>
        <dd>
          <span>{{ itineraryActivity.activityCost }}</span>
        </dd>
        <dt><span>Activity Host</span></dt>
        <dd>
          <span>{{ itineraryActivity.activityHost }}</span>
        </dd>
        <dt><span>Activity Time</span></dt>
        <dd>
          <span>{{ itineraryActivity.activityTime | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/itinerary-activity', itineraryActivity.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
