<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-favourites-list-item-heading" data-cy="FavouritesListItemCreateUpdateHeading">Create or edit a Favourites List Item</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_category">Category</label>
          <select class="form-control" name="category" formControlName="category" id="field_category" data-cy="category">
            <option [ngValue]="null"></option>
            <option *ngFor="let category of categoryValues" [value]="category">category</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_caterer">Caterer</label>
          <select
            class="form-control"
            id="field_caterer"
            data-cy="caterer"
            name="caterer"
            formControlName="caterer"
            [compareWith]="compareCaterers"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="caterersOption" *ngFor="let caterersOption of caterersSharedCollection">{{ caterersOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_activity">Activity</label>
          <select
            class="form-control"
            id="field_activity"
            data-cy="activity"
            name="activity"
            formControlName="activity"
            [compareWith]="compareActivitySelf"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="activitySelfOption" *ngFor="let activitySelfOption of activitySelvesSharedCollection">
              {{ activitySelfOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_venue">Venue</label>
          <select
            class="form-control"
            id="field_venue"
            data-cy="venue"
            name="venue"
            formControlName="venue"
            [compareWith]="compareVenueInformation"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="venueInformationOption" *ngFor="let venueInformationOption of venueInformationsSharedCollection">
              {{ venueInformationOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_favouritesList">Favourites List</label>
          <select
            class="form-control"
            id="field_favouritesList"
            data-cy="favouritesList"
            name="favouritesList"
            formControlName="favouritesList"
            [compareWith]="compareFavouritesList"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="favouritesListOption" *ngFor="let favouritesListOption of favouritesListsSharedCollection">
              {{ favouritesListOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
