<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="activityContactDetails">
      <h2 data-cy="activityContactDetailsDetailsHeading"><span>Activity Contact Details</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ activityContactDetails.id }}</span>
        </dd>
        <dt><span>Website</span></dt>
        <dd>
          <span>{{ activityContactDetails.website }}</span>
        </dd>
        <dt><span>Twitter</span></dt>
        <dd>
          <span>{{ activityContactDetails.twitter }}</span>
        </dd>
        <dt><span>Instagram</span></dt>
        <dd>
          <span>{{ activityContactDetails.instagram }}</span>
        </dd>
        <dt><span>Facebook</span></dt>
        <dd>
          <span>{{ activityContactDetails.facebook }}</span>
        </dd>
        <dt><span>Tiktok</span></dt>
        <dd>
          <span>{{ activityContactDetails.tiktok }}</span>
        </dd>
        <dt><span>Phone Number</span></dt>
        <dd>
          <span>{{ activityContactDetails.phoneNumber }}</span>
        </dd>
        <dt><span>Activity Company</span></dt>
        <dd>
          <div *ngIf="activityContactDetails.activityCompany">
            <a [routerLink]="['/activity-company', activityContactDetails.activityCompany.id, 'view']">{{
              activityContactDetails.activityCompany.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/activity-contact-details', activityContactDetails.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
