<div class="top">
  <p class="heading">ACTIVITIES</p>
</div>

<body>
  <div class="formbox">
    <form id="form" role="search">
      <input
        type="search"
        id="query"
        name="q"
        placeholder="Search for an activity for your event..."
        aria-label="Search through site content"
      />
      <button class="searchiconButton">
        <span class="searchIcon"><i class="fa-solid fa-magnifying-glass"></i></span>
      </button>
    </form>
  </div>
  <div class="space"></div>
  <div class="title">
    <div class="title">
      <p class="blockTitle">Book with a company</p>
      <p class="blockExplanation">Here are some different activities and companies that offer these services for your event!</p>
    </div>
    <div class="positioningSection">
      <div class="posistioning">
        <button class="next" (click)="previous()" clickable>
          <span class="icon"><i class="fa-solid fa-caret-left"></i></span>
        </button>
      </div>

      <div class="positioning">
        <div class="book">
          <div class="bookiconssection">
            <button class="bookbutton" (click)="getAllCompanyData()" clickable>
              <img class="iconimages" src="/content/images/activitiesImages/wine.png" />
            </button>
            <p class="icontext">this is Wine Tasting</p>
          </div>
          <div class="bookiconssection">
            <button class="bookbutton" (click)="getAllCompanyData()" clickable>
              <img class="iconimages" src="/content/images/activitiesImages/activity_1.png" />
            </button>
            <p class="icontext">Live Music</p>
          </div>
          <div class="bookiconssection">
            <button class="bookbutton" (click)="getAllCompanyData()" clickable>
              <img class="iconimages" src="/content/images/activitiesImages/activity_2.png" />
            </button>
            <p class="icontext">Zip line</p>
          </div>
        </div>
      </div>
      <div class="posistioning">
        <button class="next" (click)="next()" clickable>
          <span class="icon"><i class="fa-solid fa-caret-right"></i></span>
        </button>
      </div>
    </div>
  </div>

  <div class="title">
    <div class="title">
      <p class="blockTitle">Do It Yourself</p>
      <p class="blockExplanation">Here are some ideas of activities that you can set up yourself for your event!</p>
    </div>
    <div class="positioningSection">
      <div class="posistioning">
        <button class="next" (click)="previous()" clickable>
          <span class="icon"><i class="fa-solid fa-caret-left"></i></span>
        </button>
      </div>

      <div class="positioning">
        <div class="book">
          <div class="bookiconssection">
            <button class="bookbutton" (click)="selfpage()" clickable>
              <img class="iconimages" src="/content/images/activitiesImages/wine.png" />
            </button>
            <p class="icontext">Baking</p>
          </div>
          <div class="bookiconssection">
            <button class="bookbutton" (click)="selfpage()" clickable>
              <img class="iconimages" src="/content/images/activitiesImages/wine.png" />
            </button>
            <p class="icontext">Karaoke</p>
          </div>
          <div class="bookiconssection">
            <button class="bookbutton" (click)="selfpage()" clickable>
              <img class="iconimages" src="/content/images/activitiesImages/wine.png" />
            </button>
            <p class="icontext">Football Match</p>
          </div>
        </div>
      </div>

      <div class="posistioning">
        <button class="next" (click)="next()" clickable>
          <span class="icon"><i class="fa-solid fa-caret-right"></i></span>
        </button>
      </div>
    </div>
  </div>
</body>
